@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
}

h1{
    margin: 10px;
    align-items: center;
    text-align: center;
}


.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin-top: 20px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #22668d;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.8s;
}

.user-form {
    display: flex;
    align-items: center;
}

.actions {
    margin-left: auto;
    margin-right: 30px;
}

.username-label {
    margin-right: 20px;
    margin-left: 20px;
}

.actions .checkbox-btn {
    border: 1px solid black; 
    background-color: green; /* Set background color to green */
    color: white; /* Set text color to white */
    border: none; /* Remove border */
    padding: 5px 10px; /* Add padding */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease;
}

.checkbox-btn:hover {
    background-color: darkgreen;
}

.checkbox-btn:active {
    background-color: limegreen; /* Change the color when the button is clicked */
}

.actions .cancel-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.cancel-btn:hover {
    background-color: darkred;
}

.cancel-btn:active {
    background-color: tomato; /* Change the color when the button is clicked */
}

.user-form {
    border: 1px solid black; /* Add border */
    padding: 10px;
    margin-inline: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#userList {
    padding: 20px;
    padding-bottom: 20px;
}